<div id="<%= dom_id order %>">
  <p>
    <strong>Date submitted:</strong>
    <%= order.date_submitted %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= order.status %>
  </p>

  <p>
    <strong>Subtotal:</strong>
    <%= order.subtotal %>
  </p>

  <p>
    <strong>Shipping:</strong>
    <%= order.shipping %>
  </p>

  <p>
    <strong>Tax:</strong>
    <%= order.tax %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= order.total %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= order.customer_id %>
  </p>

</div>
